body{

    background-color: teal;

}

.container{
    margin-top: 50px;
    text-align: center;

}

button{

    padding: 15px;
    position: absolute;
    border: none;
    background: rgb(245, 149, 4);
    margin-left: -40px;
    color: white;
}

input{

    width: 40%;
    padding: 5.5px;
    height: 33.5px;
    border: none;
    border-radius: 3px 0 0 3px;
    font-size: 20px;

}

.col-3{
  
    margin-top: 90px;
    width: 23%;
    height: 150px;
    background-color: #fff;
    float: left;
    margin-left: 22px;
    border-radius: 3px;
}

h2{
    text-align: center;
    font-size: 25px;
}

#btn{
    width: 100px;
}

#card{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
}